.footer-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-header > div {
    width: 15rem;

}
.footer-body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-container {
    border: 1px solid black;
    height: 300px;
    padding: 2rem;
    border: .5px solid rgba(255, 255, 255, 0.158);
    background-color: rgba(255, 255, 255, 0.13);
}

.form > input{
    background-color: white;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}

.form > button {
    margin-top: 10px;
    background-color: rgb(22, 22, 199);
    color: white;
    width: 10rem;
    padding: 5px;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
}

.form > button :hover {
    background-color: yellow;
}

.copyright {
    text-align: center;
}