@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');


.nav-items {
    justify-content: center;
    font-size: larger;
    font-family: 'Poppins', sans-serif;
}

.nav-container {
    padding: 1rem;
}